.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}
.item {
  color: white;
  text-decoration: none;
}

.item:hover,
.item:active,
.item:focus {
  color: thistle;
}

.active {
  color: gold;
  text-decoration: none;
}

.friendsElements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
