.dialogs {
  display: grid;
  grid-template-columns: 50px 600px;
  grid-template-rows: auto auto;
  padding-bottom: 10px;
}
.dialogs_items {
  padding: 10px;
}

.dialogs_items .active {
  color: gold;
}
.messages {
  padding: 10px;
}

.dialogAvatar {
  width: 35px;
  border-radius: 30px;
}

.text {
  grid-column: 2/2;
  grid-row: 2/2;
  background-color: #2b6fec;
  border-radius: 0 0 10px 10px;
  padding-left: 10px;
}

.dialogsItem {
  width: 10%;
  grid-row: 1 / 3;
  gap: 0;
}
.itemName {
  padding: 0px;
}

.dialogsName {
  color: white;
  text-decoration: none;
  grid-column: 2/2;
  grid-row: 1/2;
  background-color: #2b6fec;
  border-radius: 10px 10px 0 0;
  padding-left: 10px;
}
